<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exam.com.cn.db.dao.PrivilegeInfoMapper" >
  <resultMap id="BaseResultMap" type="exam.com.cn.db.model.PrivilegeInfo" >
    <id column="P_ID" property="pId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="PRIVILEGE" property="privilege" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    P_ID, USER_ID, PRIVILEGE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="exam.com.cn.db.model.PrivilegeInfoQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from privilege_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from privilege_info
    where P_ID = #{pId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from privilege_info
    where P_ID = #{pId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="exam.com.cn.db.model.PrivilegeInfoQuery" >
    delete from privilege_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="exam.com.cn.db.model.PrivilegeInfo" >
    insert into privilege_info (P_ID, USER_ID, PRIVILEGE
      )
    values (#{pId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{privilege,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="exam.com.cn.db.model.PrivilegeInfo" >
    insert into privilege_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        P_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="privilege != null" >
        PRIVILEGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        #{privilege,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="exam.com.cn.db.model.PrivilegeInfoQuery" resultType="java.lang.Integer" >
    select count(*) from privilege_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update privilege_info
    <set >
      <if test="record.pId != null" >
        P_ID = #{record.pId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.privilege != null" >
        PRIVILEGE = #{record.privilege,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update privilege_info
    set P_ID = #{record.pId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      PRIVILEGE = #{record.privilege,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="exam.com.cn.db.model.PrivilegeInfo" >
    update privilege_info
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="privilege != null" >
        PRIVILEGE = #{privilege,jdbcType=INTEGER},
      </if>
    </set>
    where P_ID = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="exam.com.cn.db.model.PrivilegeInfo" >
    update privilege_info
    set USER_ID = #{userId,jdbcType=VARCHAR},
      PRIVILEGE = #{privilege,jdbcType=INTEGER}
    where P_ID = #{pId,jdbcType=VARCHAR}
  </update>
</mapper>