<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exam.com.cn.db.dao.UserAnswerMapper" >
  <resultMap id="BaseResultMap" type="exam.com.cn.db.model.UserAnswer" >
    <id column="A_ID" property="aId" jdbcType="VARCHAR" />
    <result column="A_TEST_RESULTS_ID" property="aTestResultsId" jdbcType="VARCHAR" />
    <result column="A_ CLASSIFY_ID" property="aClassifyId" jdbcType="VARCHAR" />
    <result column="A_ QUESTION_ID" property="aQuestionId" jdbcType="VARCHAR" />
    <result column="A_ ANSWER" property="aAnswer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    A_ID, A_TEST_RESULTS_ID, "A_ CLASSIFY_ID", "A_ QUESTION_ID", "A_ ANSWER"
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="exam.com.cn.db.model.UserAnswerQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_answer
    where A_ID = #{aId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_answer
    where A_ID = #{aId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="exam.com.cn.db.model.UserAnswerQuery" >
    delete from user_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="exam.com.cn.db.model.UserAnswer" >
    insert into user_answer (A_ID, A_TEST_RESULTS_ID, "A_ CLASSIFY_ID", 
      "A_ QUESTION_ID", "A_ ANSWER")
    values (#{aId,jdbcType=VARCHAR}, #{aTestResultsId,jdbcType=VARCHAR}, #{aClassifyId,jdbcType=VARCHAR}, 
      #{aQuestionId,jdbcType=VARCHAR}, #{aAnswer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="exam.com.cn.db.model.UserAnswer" >
    insert into user_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        A_ID,
      </if>
      <if test="aTestResultsId != null" >
        A_TEST_RESULTS_ID,
      </if>
      <if test="aClassifyId != null" >
        "A_ CLASSIFY_ID",
      </if>
      <if test="aQuestionId != null" >
        "A_ QUESTION_ID",
      </if>
      <if test="aAnswer != null" >
        "A_ ANSWER",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=VARCHAR},
      </if>
      <if test="aTestResultsId != null" >
        #{aTestResultsId,jdbcType=VARCHAR},
      </if>
      <if test="aClassifyId != null" >
        #{aClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="aQuestionId != null" >
        #{aQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="aAnswer != null" >
        #{aAnswer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="exam.com.cn.db.model.UserAnswerQuery" resultType="java.lang.Integer" >
    select count(*) from user_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_answer
    <set >
      <if test="record.aId != null" >
        A_ID = #{record.aId,jdbcType=VARCHAR},
      </if>
      <if test="record.aTestResultsId != null" >
        A_TEST_RESULTS_ID = #{record.aTestResultsId,jdbcType=VARCHAR},
      </if>
      <if test="record.aClassifyId != null" >
        "A_ CLASSIFY_ID" = #{record.aClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.aQuestionId != null" >
        "A_ QUESTION_ID" = #{record.aQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="record.aAnswer != null" >
        "A_ ANSWER" = #{record.aAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_answer
    set A_ID = #{record.aId,jdbcType=VARCHAR},
      A_TEST_RESULTS_ID = #{record.aTestResultsId,jdbcType=VARCHAR},
      "A_ CLASSIFY_ID" = #{record.aClassifyId,jdbcType=VARCHAR},
      "A_ QUESTION_ID" = #{record.aQuestionId,jdbcType=VARCHAR},
      "A_ ANSWER" = #{record.aAnswer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="exam.com.cn.db.model.UserAnswer" >
    update user_answer
    <set >
      <if test="aTestResultsId != null" >
        A_TEST_RESULTS_ID = #{aTestResultsId,jdbcType=VARCHAR},
      </if>
      <if test="aClassifyId != null" >
        "A_ CLASSIFY_ID" = #{aClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="aQuestionId != null" >
        "A_ QUESTION_ID" = #{aQuestionId,jdbcType=VARCHAR},
      </if>
      <if test="aAnswer != null" >
        "A_ ANSWER" = #{aAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    where A_ID = #{aId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="exam.com.cn.db.model.UserAnswer" >
    update user_answer
    set A_TEST_RESULTS_ID = #{aTestResultsId,jdbcType=VARCHAR},
      "A_ CLASSIFY_ID" = #{aClassifyId,jdbcType=VARCHAR},
      "A_ QUESTION_ID" = #{aQuestionId,jdbcType=VARCHAR},
      "A_ ANSWER" = #{aAnswer,jdbcType=VARCHAR}
    where A_ID = #{aId,jdbcType=VARCHAR}
  </update>
</mapper>