<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Setup the transaction manager and data source that are  appropriate for your environment
    -->
        <settings>
            <setting name="logImpl" value="LOG4J"/>
        </settings>
	<!-- <properties resource="datasource.properties" />-->
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="JNDI">
				<property name="data_source" value="${dsjndi.prefix}${dy.datasource.jndi}" />
			</dataSource>
		</environment>
	</environments> -->
<!-- 	<typeAliases>
		<typeAlias alias="BaseUserInfo" type="com.dayang.cloud.mpp.model.BaseUserInfo" />
	</typeAliases>
	<mappers>
		XML mapper files should be listed here
		<mapper resource="com/dayang/newmedia/mpp/db/dao/mapper/UserInfoMapper.xml" />
	</mappers> -->
</configuration>